doctype html
html

  head
    // Title
    block title
      title

    block description

      // Description and Keywords
      meta(name='description', content='Leverage. We combine the personalization of a lone assistant with the bandwidth of a dedicated team.')
      meta(name="keywords" content="virtual, assistant, executive, outsource, tasks, assistance, optimize, business")

      // Meta
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(charset='utf-8')
      meta(name='mobile-web-app-capable', content='yes')
      meta(name='apple-mobile-web-app-capable', content='yes')
      meta(name='apple-mobile-web-app-title', content='Get Leverage')

      meta(name="p:domain_verify" content="ce949760e539e03e2fb3d519ced03a5d")
      meta(name='google-site-verification', content='Zt2zkPW6S2ckiK_oQwTFge-pTkrbgPjhmM_pDhVkeeQ')
      meta(name='google-site-verification', content='R82O-r19b_9WXrY931geyKLy1JJUDGSsmh4QxjmFTto')

      // Open Graph
      meta(property="og:site_name", content="Leverage")
      meta(property="og:title", content="Leverage")
      meta(property="og:description", content="Leverage. We combine the personalization of a lone assistant with the bandwidth of a dedicated team.")
      meta(property="og:type", content="website")
      meta(property="og:url", content="https://www.getleverage.com")
      meta(property="og:image", content="https://www.getleverage.com/images/preview.png")

      // Twitter Card
      meta(name="twitter:card" content="summary_large_image")
      meta(name="twitter:site" content="@getleverageva")
      meta(name="twitter:title" content="Leverage")
      meta(name="twitter:description" content="Leverage. We combine the personalization of a lone assistant with the bandwidth of a dedicated team.")
      meta(name="twitter:image" content="https://www.getleverage.com/images/preview.png")

      // Fonts
      link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet")

      script(charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async)
      script(src="https://js.stripe.com/v3/")
      script.
        window.endpoint = "#{endpoint}";

      // Style & Script
      link(rel="stylesheet" href="/css/index.css")
      script(src="/bundle.js")

      // Favicon
      link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
      link(rel="icon" href="/images/favicon.ico" type="image/x-icon")

  block content
