mixin Skills()

    section#tasks
      .header
        h2 A team you can trust.
        p.large From booking reservations at exclusive restaurants to building a brand-new website, our team of Virtual Assistants will help you do less and accomplish more by completing your requests in the most efficient and effective way possible - guaranteed.

      .col
        img(src="/images/calendar.svg" width="130px")
        h4 Scheduling
        ul
          li Doctor appointments
          li Daily nutrition & dietary planning
          li Appointment scheduling & calendar management

      .col
        img(src="/images/travel.svg" width="130px")
        h4 Travel
        ul
         li Ticketing, event & activity planning
         li Visa & passport requirements
         li Hotel & restaurant reservations

      .col
        img(src="/images/bills.svg" width="130px")
        h4 Bill & Files
        ul
          li Bill pay
          li Budgeting & invoices

      .col
        img(src="/images/shopping-bag.svg" width="130px")
        h4 Shopping & Errands
        ul
          li Purchases (groceries, gifts, etc.)
          li Product exchanges & returns
          li Side-by-side product comparisons

      .col
        img(src="/images/tech.svg" width="130px")
        h4 Technology
        ul
          li Graphic design & web development
          li Website traffic growth
          li Tech system updates

      .col
        img(src="/images/marketing.svg" width="130px")
        h4 Sales & Pipeline
        ul
          li Lead magnet creation
          li Build robust sales funnels
          li Customer service management

      .col.last
        img(src="/images/customer.svg" width="130px")
        h4 Customer Management
        ul
          li Facebook Ad Campaign creation
          li SEO for increased web visibility
          li Marketing automation
          li Social media management

      .col.last
        a(href="https://www.pinterest.com/getleverage/leverage-press" target="_blank")
          img(src="/images/media.svg" width="130px")
        h4 Media & Content
        ul
          li Blogs & podcasts
          li Research, article writing & proofreading
          li eBook development
          li Audio & video transcription, production & editing

