header
  height 100px
  top 0
  right 0
  left 0
  position absolute

  .logo
    width 175px
    margin 40px 65px
    position absolute

  @media $mobile-devices
    .logo
      width 150px
      margin 40px
