body.terms
  padding-top 100px

  .header
    text-align center

  .content
    background-color $lightgray
    padding 100px 0

    .terms-content
      max-width 700px
      margin 0 auto

      li 
        margin-bottom 10px

      a
        color $red
        &:hover
          color $lightred

      h5
        padding-top 20px

      ol
        margin-left 50px
