extends ../layout.pug
include ../mixins/header/index.pug
include ../mixins/footer/index.pug
include ../mixins/featured/index.pug

block title
  title Leverage | Terms of Use

block content

  body.terms
  
    +Header()
    
    section.header
      h3 Terms of Use
    
    section.content
      .terms-content
        
        h5 Effective as of Nov 10, 2017
         
        p Welcome to the Less Doists, LLC web site, getleverage.com (the “Site”). The following 
          | Terms of Use apply when you view or use the Site by accessing the Site through the 
          | web address getleverage.com, on a computer or other access device.  Please review the 
          | following terms carefully. By accessing or using the Site, you signify your agreement 
          | to these Terms of Use. If you do not agree to these Terms of Use, you may not access 
          | or use the Site.  

        p You represent and warrant that that: (1) you are 18 years of age or older and are at 
          | least of the legally required age in the jurisdiction in which you reside, and are 
          | otherwise capable of entering into binding contracts, and (2) you have the right, 
          | authority and capacity to enter into this Agreement and to abide by the terms and 
          | conditions of this Agreement, and that you will so abide. 

        p Any reference to “we,” “us” or “our” refers to the owner of the Site, including any company 
          | it controls or which controls it (for example a parent company of the Site owner or a 
          | subsidiary of the Site owner) and its members, directors, officers, employees and agents.
         
        h5 Privacy Policy

        p We respect the privacy of users of the Site. Please refer to our Privacy Policy (found 
          a(href="https://getleverage.com/privacy-policy/") here
          | : which explains how the Site collects, uses, and discloses personal information. 
          | When you access or use the Site, you signify your agreement to this Privacy Policy.

        h5 About the Site

        p The contents of the Site are for informational and entertainment purposes only and 
          | should not be construed as advice.

        h5 Scope of the Terms of Use

        p We may have other sites that are covered by different terms of use. The terms of use 
          | for these other sites are available on the home page of each such site.

        h5 Consequences
         
        p We may take any legal action we think is appropriate. If your violation of these 
          | Terms of Use causes harm to others, you agree to hold us harmless against any 
          | liability for that harm.

        p 
          b BINDING ARBITRATION. 
          | If a dispute arises between you and us arising from use of the 
          | Site or these Terms of Use, such dispute shall be finally and exclusively resolved 
          | by binding arbitration. 
          b YOU UNDERSTAND THAT AS A RESULT OF THIS BINDING ARBITRATION 
            | PROVISION, NEITHER PARTY WILL HAVE THE RIGHT TO SUE IN COURT OR HAVE A JURY TRIAL. 
          | The arbitration will be commenced and conducted under the Commercial Arbitration 
          | Rules (the “AAA Rules”) of the American Arbitration Association (“AAA”) which are 
          | available at the AAA website www.adr.org.  Such arbitration will take place in 
          | New York, New York. Your arbitration fees and your share of arbitrator compensation 
          | will be governed by the AAA Rules.  The arbitrator must follow applicable law, and 
          | any award may be challenged if the arbitrator fails to do so. Except as otherwise 
          | provided in this Agreement, you and Company may litigate in court to compel arbitration, 
          | stay proceeding pending arbitration, or to confirm, modify, vacate or enter judgment 
          | on the award entered by the arbitrator.

        p We reserve the right, but have no obligation, to monitor the materials posted on all 
          | areas of the Site or to limit or deny a user’s access to the Site or take other 
          | appropriate action if a user violates these Terms of Use or engages in any activity 
          | that violates the rights of any person or entity or which we deem unlawful, offensive, 
          | abusive, harmful or malicious.  We shall have the right to remove any such material 
          | that in its sole opinion violates, or is alleged to violate, the law or this agreement 
          | or which might be offensive, or that might violate the rights, harm, or threaten the 
          | safety of users or others.  Unauthorized use may result in criminal and/or civil 
          | prosecution under Federal, State and local law.  If you become aware of misuse of 
          | our Site, please contact us at 
          a(href="mailto:admin@getleverage.com") admin@getleverage.com
          | .

        h5 Indemnity
         
        p You agree to defend, indemnify, and hold us, our respective officers, directors, employees, 
          | agents, licensors, consultants, contractors, and suppliers, harmless from and against any 
          | claims, actions or demands, liabilities and settlements including without limitation, 
          | reasonable legal and accounting fees, resulting from, or alleged to result from, your use 
          | of the Site, your use of any services, information or products from the Site, or any 
          | violation of these Terms of Use.

        h5 Online Content Disclaimer

        p Though we strive to enforce these Terms of Use, you may be exposed to content developed by 
          | other users (“User Content’) that is inaccurate or objectionable. We take no responsibility 
          | and assume no liability for any User Content that you or any other user or third party 
          | posts or sends over the Site.  Under no circumstances will we be responsible for any 
          | loss or damage resulting from anyone’s reliance on information or other content posted 
          | on the Site, or transmitted to users.

        h5 Links to Other Sites and/or Materials

        p As part of the Site, we may provide you with convenient links to third party website(s) 
          | (“Third Party Sites”) as well as content or items belonging to or originating from third 
          | parties (the “Third Party Applications, Software or Content”). These links are provided 
          | as a courtesy to Site subscribers.  We have no control over Third Party Sites and Third 
          | Party Applications, Software or Content or the promotions, materials, information, goods 
          | or Sites available on these Third Party Sites or Third Party Applications, Software or 
          | Content. Such Third Party Sites and Third Party Applications, Software or Content are not 
          | investigated, monitored or checked for accuracy, appropriateness, or completeness by us, 
          | and we are not responsible for any Third Party Sites accessed through the Site or any 
          | Third Party Applications, Software or Content posted on, available through or installed 
          | from the Site, including the content, accuracy, offensiveness, opinions, reliability, 
          | privacy practices or other policies of or contained in the Third Party Sites or the Third 
          | Party Applications, Software or Content.  Inclusion of, linking to or permitting the use 
          | or installation of any Third Party Site or any Third Party Applications, Software or 
          | Content does not imply approval or endorsement thereof by us.  If you decide to leave 
          | the Site and access the Third Party Sites or to use or install any Third Party Applications, 
          | Software or Content, you do so at your own risk and you should be aware that our terms and 
          | policies no longer govern.  You should review the applicable terms and policies, including 
          | privacy and data gathering practices, of any site to which you navigate from the Site or 
          | relating to any applications you use or install from the site.

        h5 Copyright Complaints and Copyright Agent
        p 
          b (a) Termination of Repeat Infringer Accounts.  
          | We respect the intellectual property rights of others and request that the users do the same.  Pursuant to 17 U.S.C. § 512(i) of the United States Copyright Act, we have adopted and implemented a policy that provides for the termination in appropriate circumstances of users of the Site who are repeat infringers.  We may terminate access for participants or users who are found repeatedly to provide or post protected third party content without necessary rights and permissions.

        p
          b (b) DMCA Take-Down Notices.
          | If you are a copyright owner or an agent thereof and believe, in good faith, that any materials provided on the Site infringe upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (see 17 U.S.C § 512) (“DMCA”) by sending the following information in writing to our designated copyright agent at admin@getleverage.com
        
        p
          ol
            li The date of your notification;
            li A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;
            li A description of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;
            li A description of the material that is claimed to be infringing or to be the subject of infringing activity and information sufficient to enable us to locate such work;
            li Information reasonably sufficient to permit the service provider to contact you, such as an address, telephone number, and/or email address;
            li A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
            li A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
          
        p
          b (c) Counter-Notices. 
          | If you believe that your User Content that has been removed from the Site is not infringing, 
          | or that you have the authorization from the copyright owner, the copyright owner's agent, 
          | or pursuant to the law, to post and use the content in your User Content, you may send a 
          | counter-notice containing the following information to our copyright agent using the contact 
          | information set forth above:

        p
          ol
            li Your physical or electronic signature;
            li A description of the content that has been removed and the location at which the content 
              | appeared before it was removed;
            li A statement that you have a good faith belief that the content was removed as a result of 
              | mistake or a misidentification of the content; and
            li Your name, address, telephone number, and email address, a statement that you consent 
              | to the jurisdiction of the federal court in New York and a statement that you will accept 
              | service of process from the person who provided notification of the alleged infringement.
          
        p If a counter-notice is received by our copyright agent, we may send a copy of the counter-notice 
          | to the original complaining party informing such person that it may reinstate the removed 
          | content in 10 business days.  Unless the copyright owner files an action seeking a court 
          | order against the content provider, member or user, the removed content may (in our discretion) 
          | be reinstated on the Site in 10 to 14 business days or more after receipt of the counter-notice.

        h5 License Grant
        
        p By posting any User Content via the Site, you expressly grant, and you represent and warrant 
          | that you have a right to grant, to us a royalty-free, sublicensable, transferable, perpetual, 
          | irrevocable, non-exclusive, worldwide license to use, reproduce, modify, publish, list 
          | information regarding, edit, translate, distribute, publicly perform, publicly display, 
          | and make derivative works of all such User Content and your name, voice, and/or likeness 
          | as contained in your User Content, if applicable, in whole or in part, and in any form, 
          | media or technology, whether now known or hereafter developed, for use in connection with 
          | the Site.

        h5 Proprietary Rights
        p All text, graphics, editorial content, data, formatting, graphs, designs, HTML, look and feel, 
          | photographs, music, sounds, images, software, videos, designs, typefaces and other content 
          | (collectively “Proprietary Material”) that users see or read on the Site is owned by us, 
          | excluding any user generated content that we have the right to use.  Proprietary Material 
          | is protected in all forms, media and technologies now known or hereinafter developed. 
          | We owns all Proprietary Material, as well as the coordination, selection, arrangement 
          | and enhancement of such Proprietary Materials as a Collective Work under the United 
          | States Copyright Act, as amended. The Proprietary Material is protected by the domestic 
          | and international laws of copyright, patents, and other proprietary rights and laws. 
          | Users may not copy, download, use, redesign, reconfigure, or retransmit anything from 
          | the Site without Our express prior written consent and, if applicable, the holder of 
          | the rights to any user generated content. Any use of such Proprietary Material, other 
          | than as permitted therein, is expressly prohibited without our prior permission and, 
          | if applicable, the holder of the rights to the user generated content.

        p Our service marks and trademarks, including without limitation any wordmarks, design marks 
          | or logos, are our intellectual property.  Other product and company names that are mentioned 
          | on the Site may be trademarks of their respective owners. You may not copy or use any of 
          | these marks, logos or trade names without the express prior written consent of these 
          | third-parties. We reserve all rights that are not expressly granted to you under these 
          | Terms of Use.

        h5 User Consent to Receive Communications in Electronic Form

        p For contractual purposes, you (a) consent to receive communications from us in an electronic 
          | form via the email address you have submitted; and (b) agree that all Terms of Use, 
          | agreements, notices, disclosures, and other communications that we provide to you 
          | electronically satisfy any legal requirement that such communications would satisfy 
          | if it were in writing.  The foregoing does not affect your non-waivable rights.

        p We may also use your email address, to send you other messages, including information about 
          | us and special offers. You may opt out of such email by changing your account settings or 
          | sending an email to admin@getleverage.com or mail to the following postal address: 176 
          | Delancey street, NY NY 10003.

        p Opting out may prevent you from receiving messages regarding us or the Site.

        h5 Registration, Accounts and Passwords

        p You are responsible for the personal protection and security of any password or username 
          | that you may use to access this Website. You are responsible for all direct or indirect 
          | damages and liable for all activity conducted on this Website that can be linked or 
          | traced back to your username or password. You are obligated to immediately report a 
          | lost or stolen password or username to us by sending an email to 
          a(href="mailto:admin@getleverage.com") admin@getleverage.com 
          | or mail to the following postal address: 176 Delancey street, NY NY 10003.
         
        h5 No Warranties; Release
         
        p WE MAKE NO EXPRESS OR IMPLIED WARRANTIES, COVENANTS OR REPRESENTATIONS OF ANY KIND WITH 
          | RESPECT TO THE SITE, ANY SERVICES OFFERED THEREON, SITE CONTENT, THIRD PARTY CONTENT 
          | OR ANY OTHER CONTENT. WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, EXPRESS, IMPLIED, 
          | STATUTORY OR OTHERWISE, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, 
          | FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT, WITH REGARD TO THE SITE, 
          | THE SERVICES OFFERED THEREON, THE SITE CONTENT, THIRD PARTY CONTENT AND ANY OTHER CONTENT, 
          | AND ANY PRODUCT OR SERVICE FURNISHED OR TO BE FURNISHED FROM OR ON THE SITE. WE DO NOT WARRANT: 
          | THAT THE FUNCTIONS PERFORMED BY THE SITE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; 
          | OR THAT DEFECTS IN THE SITE WILL BE CORRECTED; OR THE ACCURACY OR COMPLETENESS OF THE SITE 
          | CONTENT, THIRD PARTY CONTENT, OR ANY OTHER CONTENT; OR THAT ANY ERRORS IN THE SITE CONTENT, 
          | THIRD PARTY CONTENT OR OTHER CONTENT WILL BE CORRECTED. THE SITE, THE SERVICES OFFERED THEREON, 
          | AND THE SITE CONTENT AND OTHER CONTENT ARE PROVIDED ON AN “AS IS”, “WHERE IS”, “AS AVAILABLE” 
          | AND “WITH ALL FAULTS” BASIS. SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, 
          | SO THE FOREGOING DISCLAIMER MAY NOT APPLY TO YOU. THIS WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS 
          | AND YOU MAY ALSO HAVE OTHER LEGAL RIGHTS THAT VARY FROM STATE TO STATE. 

        p IN NO EVENT WILL WE BE LIABLE FOR ANY DAMAGES WHATSOEVER, INCLUDING, BUT NOT LIMITED TO ANY 
          | DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR 
          | OTHER DAMAGES ARISING OUT OF (I) YOUR CONDUCT IN CONNECTION WITH USE OF THE SITE, THE SERVICES 
          | OFFERED THEREON OR THIS AGREEMENT (II) INABILITY TO USE THE SITE OR THE SERVICES OFFERED THEREON, 
          | THE SITE CONTENT OR ANY OTHER CONTENT, (III) ANY TRANSACTION CONDUCTED THROUGH OR FACILITATED BY 
          | THE SITE; (IV) ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS, OR OTHER INACCURACIES IN THE SITE, 
          | THE SERVICES, THE SITE CONTENT AND/OR ANY OTHER CONTENT, (V) UNAUTHORIZED ACCESS TO OR ALTERATION 
          | OF YOUR INFORMATION, OR DATA, OR (VI) ANY OTHER MATTER RELATING TO THE SITE, THE SERVICES OFFERED 
          | THEREON OR ANY OTHER CONTENT, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
          | IF YOU ARE DISSATISFIED WITH THE SITE, THE SERVICES, SITE CONTENT OR ANY OTHER CONTENT, OR WITH 
          | THE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO CEASE USING THE SITE. SOME STATES DO NOT 
          | ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, AND 
          | THEREFORE SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. IN SUCH STATES THE SITE’S LIABILITY 
          | IS LIMITED AND WARRANTIES ARE EXCLUDED TO THE GREATEST EXTENT PERMITTED BY LAW, BUT SHALL, IN NO 
          | EVENT, EXCEED ONE HUNDRED DOLLARS ($100.00). 

        b NOTWITHSTANDING THE FOREGOING, FEDERAL AND STATE SECURITIES LAWS IMPOSE LIABILITIES UNDER 
          | CERTAIN CIRCUMSTANCES ON PERSONS WHO ACT IN GOOD FAITH, AND THEREFORE NOTHING HEREIN SHALL 
          | IN ANY WAY CONSTITUTE A WAIVER OR LIMITATION OF ANY RIGHTS WHICH THE READER MAY HAVE UNDER 
          | ANY FEDERAL OR STATE SECURITIES LAWS.

        p IF YOU HAVE A DISPUTE WITH US, YOU RELEASE US (AND OUR MEMBERS, DIRECTORS, OFFICERS, EMPLOYEES, 
          | CONTRACTORS, CONSULTANTS AND AGENTS) FROM CLAIMS, DEMANDS AND DAMAGES (ACTUAL AND CONSEQUENTIAL) 
          | OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH 
          | DISPUTE. YOU AGREE TO INDEMNIFY AND HOLD US (AND OUR MEMBERS, DIRECTORS, OFFICERS, EMPLOYEES, 
          | CONTRACTORS, CONSULTANTS, AND AGENTS), HARMLESS FROM ANY CLAIM OR DEMAND, INCLUDING ATTORNEY 
          | FEES, MADE BY ANY THIRD PARTY DUE TO OR ARISING OUT OF (A) YOUR BREACH OF THIS AGREEMENT, 
          | OR YOUR VIOLATION OF ANY LAW OR THE RIGHTS OF A THIRD PARTY (B) YOUR USE, MISUSE, OR 
          | INABILITY TO USE THE SITE, THE SERVICES, OR THE SITE CONTENT OR ANY VIOLATION BY YOU OF 
          | THIS AGREEMENT.  YOU SPECIFICALLY ACKNOWLEDGE AND AGREE THAT WE ARE NOT LIABLE FOR ANY 
          | CONDUCT OF ANY USER OF THE SITE.

        h5 Refunds
        
        p In certain circumstances, we may choose to issue you a refund for purchases on our Site. Any such
          | refunds are at our sole discretion. Please be advised that monthly subscriptions will only be reimbursed
          | up to the cost of 1 month of the subscription. We will not issue any refunds for services purchased
          | more than 14 days prior to your request for a refund.

        h5 Modification of Terms of Use

        p We can amend these Terms of Use at any time and will update these Terms of Use in the event 
          | of any such amendments. It is your sole responsibility to check the Site from time to 
          | time to view any such changes in the Agreement. If you continue to use the Site, you 
          | signify your agreement to our revisions to these Terms of Use. However, we will notify 
          | you of material changes to the terms by posting a notice on our homepage and/or sending 
          | an email to the email address you provided to us upon registration. For this additional 
          | reason, you should keep your contact and profile information current. Any changes to 
          | these Terms (other than as set forth in this paragraph) or waiver of our rights hereunder 
          | shall not be valid or effective except in a written agreement bearing the physical signature 
          | of one of our officers. No purported waiver or modification of this Agreement by us via 
          | telephonic or email communications shall be valid.

        h5 General Terms

        p If any part of this Agreement is held invalid or unenforceable, that portion of the Agreement 
          | will be construed consistent with applicable law. The remaining portions will remain in 
          | full force and effect. Any failure on our part to enforce any provision of this Agreement 
          | will not be considered a waiver of our right to enforce such provision. Our rights under 
          | this Agreement will survive any termination of this Agreement.

        p Any cause of action related to or arising out of your relationship with us must commence 
          | within ONE year after the cause of action accrues. Otherwise, such cause of action is 
          | permanently barred.

        h5 Laws that Govern this Agreement
         
        p We control the Site from within the State of New York in the United States of America. 
          | The Site can be accessed from any of the United States and from other countries worldwide. 
          | Since the laws of each State or country able to access the Site may differ, by accessing 
          | the Site, you and we agree that the statutes and laws of the State of New York, without 
          | regard to choice of laws principles, will apply to all matters relating to use of the Site. 
          | No waiver of any of these Terms of Use shall be deemed a further or continuing waiver of 
          | such term or any other term. We do not make any representation that materials made available 
          | through the Site are appropriate or available for use in other locations, and accessing them 
          | from territories where their contents are illegal is prohibited. Those who choose to access 
          | the Site from other locations do so on their own initiative and are responsible for compliance 
          | with local laws.

        p We may assign or delegate these Terms of Site and/or our Privacy Policy, in whole or in part, 
          | to any person or entity at any time with or without your consent. You may not assign or 
          | delegate any rights or obligations under the Terms of Site or Privacy Policy without our 
          | prior written consent, and any unauthorized assignment and delegation by you is void.
         
        h5 Complete Agreement
         
        p Except as expressly provided in a particular “legal notice” on the Site (for example, our 
          | Privacy Policy), these Terms of Use constitute the entire agreement between you and us 
          | with respect to your use (and prior use) of the Site.
         
        h5 Questions or Concerns about Our Terms of Use
         
        p For questions or concerns about these terms of use, please send an email to 
          a(href="admin@getleverage.com") admin@getleverage.com
          | .

      
    +Footer()
