@font-face
  font-family 'Larsseit Bold'
  src url('/fonts/Larsseit-Bold.otf')

@font-face
  font-family 'Larsseit Regular'
  src url('/fonts/Larsseit-Regular.otf')

$font-body = 'Source Sans Pro', sans-serif
$font-display = 'Larsseit Bold', sans-serif
$font-light = 'Larsseit Regular', sans-serif

$black = rgba(21, 21, 21, 1)
$white = rgba(255, 255, 255, 1)
$gray = rgba(114, 114, 114, 1)
$darkgray = rgba(55, 62, 70, 1)
$lightgray = rgba(247, 247, 249, 1)
$red = rgba(236, 6, 6, 1)
$lightred = rgba(255, 26, 26, 1)

$smartphone = '(max-width: 480px)'
$mobile-devices = '(max-width: 768px)'
$tablet = '(min-width: 481px) and (max-width: 1123px)'
$tablet-up = '(min-width: 768px)'
$desktop = '(min-width: 1123px)'
