mixin Featured()

  section#featured
    .logos
      img(src="/images/logo-fox.svg")
      img(src="/images/logo-fortune.svg")
      img(src="/images/logo-nyt.svg")
      img(src="/images/logo-tdb.svg")
      img(src="/images/logo-time.svg")
      img(src="/images/logo-tnw.svg")
      img(src="/images/logo-ted.svg")
      img(src="/images/logo-huffpost.svg")
      img(src="/images/logo-npr.svg")
      img(src="/images/logo-mashable.svg")
      .link-wrapper
        a(href="/press") View Press
