mixin Footer()

  footer
    .col.header
      .logo
        a(href="/")
          img(src="/images/leverage-logo-white.svg")

    .col
      ul
        h5 Resources
        li
          a.footer-link(href="https://www.amazon.com/Idea-Execution-Optimize-Outsource-Everything-ebook/dp/B01M0TOV1I/ref=sr_1_3?s=books&ie=UTF8&qid=1508467550&sr=1-3" target="_blank" rel="nofollow") Books
        li
          a.footer-link(href="https://itunes.apple.com/us/podcast/leverage-productivity-tips-virtual-assistant-insights/id1143922222") Podcast
        li
          a.footer-link(href="https://blog.getleverage.com/" target="_blank" rel="nofollow") Blog
    .col
      ul
        h5 Company
        li
          a.footer-link(href="http://help.getleverage.com/" rel="nofollow") FAQ
        li
          a.footer-link(href="/jobs") Jobs
        li
          a.footer-link(href="/press") Press
        li
          a.footer-link(href="/about") About
        li
          a.footer-link(href="mailto:admin@getleverage.com") Contact
        li
          a.footer-link(href="https://leverage.growsumo.com/") Affiliates
    .col
      ul
        h5 Legal
        li
          a.footer-link(href="/terms-of-use") Terms of Use
        li
          a.footer-link(href="/privacy-policy") Privacy Policy
    .copyright
      p Copyright 2018 Leverage
