body.thankyou
  padding-top 100px

  section
    text-align center

    &#content
      background-color $lightgray
      min-height 300px

      p
        max-width 500px
        line-height 1.5em
        margin 0 auto
        margin-top 30px

        a
          color $red
          border-bottom 1px solid red
          &:hover
            color black
            border-bottom 1px solid black
