extends ../layout.pug
include ../mixins/header/index.pug
include ../mixins/footer/index.pug
include ../mixins/featured/index.pug

block title
  title Leverage | Press

block content

  body.press
  
    +Header()
    
    section.header
      h3 Press
    
    section.content
    
      .press-block
        .press-image(style="background-image: url('/images/press/tcdisrupt-ny17-9389.jpg')")
        .press-content
          a.title(href="https://techcrunch.com/2017/05/16/leverage-is-building-a-project-management-application-with-outsourced-virtual-assistance-built-in/?utm_content=buffer12457&utm_medium=social&utm_source=pinterest.com&utm_campaign=buffer") Leverage featured at TechCrunch Disrupt NY 2017
          span.date May 16, 2017
          a.more(href="https://techcrunch.com/2017/05/16/leverage-is-building-a-project-management-application-with-outsourced-virtual-assistance-built-in/?utm_content=buffer12457&utm_medium=social&utm_source=pinterest.com&utm_campaign=buffer") Read More
          
      .press-block
        .press-image(style="background-image: url('/images/press/forbes-books.jpg')")
        .press-content
          a.title(href="https://www.forbes.com/sites/brianrashid/2017/05/15/10-best-books-for-entrepreneurs-in-2017/#bc0d7ab18477") Forbes: 10 Best Books For Entrepreneurs In 2017
          span.date May 15, 2017
          a.more(href="https://www.forbes.com/sites/brianrashid/2017/05/15/10-best-books-for-entrepreneurs-in-2017/#bc0d7ab18477") Read More
      
      .press-block
        .press-image(style="background-image: url('/images/press/propelify.jpg')")
        .press-content
          a.title(href="https://www.facebook.com/events/170505470134639/") Propelify Innovation Festival
          span.date May 18, 2017
          a.more(href="https://www.facebook.com/events/170505470134639/") Read More

      .press-block
        .press-image(style="background-image: url('/images/press/entrepreneur-getinspired.jpg')")
        .press-content
          a.title(href="https://www.entrepreneur.com/article/293823") Get Inspired by These 7 Epic Losers Who Bounced Back From Failure
          span.date May 10, 2017
          a.more(href="https://www.entrepreneur.com/article/293823") Read More

      .press-block
        .press-image(style="background-image: url('/images/press/press-techday.jpg')")
        .press-content
          a.title(href="https://www.facebook.com/leverageva/videos/1516043248430616/") Today is NY TechDay 2017!
          span.date April 18, 2017
          a.more(href="https://www.facebook.com/leverageva/videos/1516043248430616/") Read More
          
      .press-block
        .press-image(style="background-image: url('/images/press/nytechday2017.jpg')")
        .press-content
          a.title(href="https://www.facebook.com/leverageva/videos/1516327311735543/") #NYTechDay 2017
          span.date April 18, 2017
          a.more(href="https://www.facebook.com/leverageva/videos/1516327311735543/") Read More
          
      .press-block
        .press-image(style="background-image: url('/images/press/wealthformula.jpg')")
        .press-content
          a.title(href="http://www.wealthformula.com/podcast/049-leverage-is-time-with-ari-meisel/") Leverage is time with Ari Meisel
          a.more(href="http://www.wealthformula.com/podcast/049-leverage-is-time-with-ari-meisel/") Read More
          
      .press-block
        .press-image(style="background-image: url('/images/press/dasprey.jpg')")
        .press-content
          a.title(href="https://www.facebook.com/events/244364349370061/") Ari Meisel Interviews Mr Bulletproof, Dave Asprey
          span.date April 3, 2017
          a.more(href="https://www.facebook.com/events/244364349370061/") Read More
          
      .press-block
        .press-image(style="background-image: url('/images/press/njtechweekly.jpg')")
        .press-content
          a.title(href="http://njtechweekly.com/art/3275-at-nj-tech-meetup-sonnenberg-talks-about-leverage-a-startup-connecting-execs-to-teams-of-virtual-assistants/") At NJ Tech Meetup, Sonnenberg Talks About Leverage
          span.date March 21, 2017
          a.more(href="http://njtechweekly.com/art/3275-at-nj-tech-meetup-sonnenberg-talks-about-leverage-a-startup-connecting-execs-to-teams-of-virtual-assistants/") Read More
          
      .press-block
        .press-image(style="background-image: url('/images/press/btms.jpg')")
        .press-content
          a.title(href="https://www.breakthroughmarketingsecrets.com/blog/what-parts-of-your-process-have-you-documented/") Leverage on Breakthrough Marketing Secrets
          a.more(href="https://www.breakthroughmarketingsecrets.com/blog/what-parts-of-your-process-have-you-documented/") Read More
          
          
      .press-block
        .press-image(style="background-image: url('/images/press/books2017.jpg')")
        .press-content
          a.title(href="https://en.99designs.es/blog/business/must-read-books-for-entrepreneurs-in-2017/") Must-read books for entrepreneurs in 2017
          a.more(href="https://en.99designs.es/blog/business/must-read-books-for-entrepreneurs-in-2017/") Read More
          
      .press-block
        .press-image(style="background-image: url('/images/press/brunchwork.jpg')")
        .press-content
          a.title(href="https://brunchwork.com/4-tips-for-increasing-productivity-to-start-today/") 4 Tips for Increasing Productivity You Can Start Today
          a.more(href="https://brunchwork.com/4-tips-for-increasing-productivity-to-start-today/") Read More
          
          
      .press-block
        .press-image(style="background-image: url('/images/press/wellness.png')")
        .press-content
          a.title(href="https://thenextweb.com/lifehacks/2014/03/30/wellness-trifecta-tech-resources-optimize-diet-sleep-fitness/#.tnw_oHj6r9Gr") Tech resources to optimize your diet, sleep, and fitness
          span.date Mar 30, 2014
          a.more(href="https://thenextweb.com/lifehacks/2014/03/30/wellness-trifecta-tech-resources-optimize-diet-sleep-fitness/#.tnw_oHj6r9Gr") Read More
          
      .press-block
        .press-image(style="background-image: url('/images/press/hustle.jpg')")
        .press-content
          a.title(href="https://www.entrepreneur.com/video/289654") How to Turn Your Side Hustle into Big Business
          span.date February 24, 2017
          a.more(href="https://www.entrepreneur.com/video/289654") Read More
          
      .press-block
        .press-image(style="background-image: url('/images/press/hufpost.jpg')")
        .press-content
          a.title(href="http://www.huffingtonpost.com/2014/09/22/organization-and-stress_n_5851704.html") 3 Easy Tricks To Get Organized And Reduce Stress
          span.date Sept 22, 2014
          a.more(href="http://www.huffingtonpost.com/2014/09/22/organization-and-stress_n_5851704.html") Read More
          
      .press-block
        .press-image(style="background-image: url('/images/press/workweek.jpg')")
        .press-content
          a.title(href="http://time.com/85022/productivity-shorter-workweek/") The Secret to a Three-Day Workweek
          span.date May 02, 2014
          a.more(href="http://time.com/85022/productivity-shorter-workweek/") Read More
          
      .press-block
        .press-image(style="background-image: url('/images/press/ted.jpg')")
        .press-content
          a.title(href="https://www.youtube.com/watch?v=JFcjUMtHvt0") TEDxEast - Ari Meisel Beats Crohn's Disease
          span.date May 27, 2011
          a.more(href="https://www.youtube.com/watch?v=JFcjUMtHvt0") Read More    
      
    +Footer()
