mixin Pricing()

    section#pricing
      h2 Pricing

      .pricing-monthly
        .price
          p $199
          span /mo

        .description
          p Admin hours priced at&nbsp;
            b $40/hr
          p Specialist work priced at&nbsp;
            b $80/hr
          p Unlimited 1:1 coaching calls for outsourcing tasks
          p Weekly client-only webinar with productivity experts across the globe
          p Access to the #[a(href="https://slackpass.io/leveragecommunity/leverage-members") leverage-members] Slack channel, $99/mo value
          p Free enterprise account with Process Street, more than $49/mo value

        block

      ul.terms
        li Set up in minutes.
        li You're in complete control.
        li Cancel anytime.

      .pricing-info
        p Hours purchased never expire!

